<div class="modal fade" id="new_event" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Event</h4>
      </div>
      <div class="modal-body">
        <% if !@event.content_id = params[:content_id] %>
        <%= render 'form', event: @event %>
        <% else %>
        <%= render 'formContent', event: @event %>
        <% end %>
      </div>
    </div>
  </div>
</div>