 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attendance</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row px-1">
                        <div class="nav-attendance px-1">
                            <class class="img-attendance">
                                <img src="" alt="">
                            </class>
                        </div>
                    </div>
                    <div class="row mt-2 my-2 py-2">
                        <div class="member-attendance">
                            <div class="row px-2">
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="avt-attendance" src="" alt="">
                                        </div>
                                        <div class="content col-sm-8">
                                            <h4>name</h4>
                                            <div class="email-attendance"> 123@gmail.com </div>
                                            <div class="chx-attendance">
                                                <input type="checkbox" name="member[]" value="id"> Present
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-note">
                                        <input type="text" name="note[1]" class="" placeholder="Note">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="member-attendance">
                            <div class="row px-2">
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="avt-attendance" src="" alt="">
                                        </div>
                                        <div class="content col-sm-8">
                                            <h4>name</h4>
                                            <div class="email-attendance"> 123@gmail.com </div>
                                            <div class="chx-attendance">
                                                <input type="checkbox" name="member[]" value="id"> Present
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-note">
                                        <input type="text" name="note[1]" class="" placeholder="Note">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-attendance">
                            <div class="row px-2">
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="avt-attendance" src="" alt="">
                                        </div>
                                        <div class="content col-sm-8">
                                            <h4>name</h4>
                                            <div class="email-attendance"> 123@gmail.com </div>
                                            <div class="chx-attendance">
                                                <input type="checkbox" name="member[]" value="id"> Present
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-note">
                                        <input type="text" name="note[1]" class="" placeholder="Note">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-attendance">
                            <div class="row px-2">
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="avt-attendance" src="" alt="">
                                        </div>
                                        <div class="content col-sm-8">
                                            <h4>name</h4>
                                            <div class="email-attendance"> 123@gmail.com </div>
                                            <div class="chx-attendance">
                                                <input type="checkbox" name="member[]" value="id"> Present
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-note">
                                        <input type="text" name="note[1]" class="" placeholder="Note">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-attendance">
                            <div class="row px-2">
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="avt-attendance" src="" alt="">
                                        </div>
                                        <div class="content col-sm-8">
                                            <h4>name</h4>
                                            <div class="email-attendance"> 123@gmail.com </div>
                                            <div class="chx-attendance">
                                                <input type="checkbox" name="member[]" value="id"> Present
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-note">
                                        <input type="text" name="note[1]" class="" placeholder="Note">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
